
#Title > p, h1 {
    margin: 5px 0px 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 5px 10px 5px;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
}
#Title {
    margin: 0px 0px 0px 20px
}
table {
    margin: 20px 20px 20px 20px;
}
#Misc {
    margin: 20px 20px 20px 20px;
}
#AverageRks {
    text-align:center;
}
#Scores {
}
.TableFirst {
    font-weight: bold;
}
.InputBox {
    margin: 10px 10px 10px 10px;
}
.ButtonBox {
    margin: 10px 10px 10px 10px;
}
#DivInputUploadSaveFile {
    margin: 10px 10px 10px -10px !important;
}
#CustomUpload {
    background-image: none;
    background-color: rgba(0, 0, 0, 25%);
    font-size: 18px !important;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(var(--ButtonBlurRadius));
    border: 1px solid;
    border-color: var(--BorderColor);
    border-radius: 3px;
}
#DivLabelStatus {
    float: right;
}
#DivButtonReset {
    width: fit-content;
}
input[type=file] {
    display: none !important;
}
label {
    margin: 0px 10px 0px 20px;
}
#Div.Label.Status {
    z-index: -1;
}

#IndexButtonArea {
    padding: 20px 0px 0px 0px;
    outline: thin;
    position: center;
    width: 50%;
    margin: auto auto;
    display: grid;
    justify-items: center;
    gap: 20px;
}

.IndexGoToButtons {
    padding: 5px 5px 5px 5px;
}
#Background {
    background-image: url(/Assets/Background/IndexBackground.png);
}
