@page "/"
@inject NavigationManager NavManager

@code {
	List<(string Id, string Name, string UriToGo)> Buttons = new()
	{
		("Index.GoTo.RksReaderEnhanced", "Rks Reader Enhanced", "/RksReaderEnhanced/index.html"),
		("Index.GoTo.MyGithubPage", "My Github User Page", "https://github.com/yt6983138"),
		("Index.GoTo.114514ScoreGenerator", "Phigros 114514 score generator", "/114514ScoreGenerator/index.html"),
		("Index.GoTo.PhigrosTokenGetter", "Phigros token getter", "/PhigrosTokenGetter/index.html")
	};
}
<h1 id="IndexTitle">static/void's home page</h1>
<div id="IndexButtonArea">
	@foreach (var info in Buttons)
	{
		//<button class="Index.GoToButtons" id=@info.Id @onclick>@info.Name</button>
		<button class="IndexGoToButtons" id=@info.Id @onclick="@(() => NavManager.NavigateTo(info.UriToGo, true))">@info.Name</button>
	}
</div>
