@page "/WebPhiCharter/index.html"
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas.Canvas2D;
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Forms
@using System.Text
@inject IJSRuntime JS
@inject HttpClient Http
@using yt6983138.github.io.Components.WebPhiCharter

@code {
	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			Misc.CanvasHelperHolder = new("MyCanvas", JS);
			TextureManager.Initialize();
			Test.Main();
		}
		return base.OnAfterRenderAsync(firstRender);
	}
}

<div id="ToolsRow">
</div>
<div id="CommandRow">
</div>
<div id="Bottom">
	<canvas id="MyCanvas" width="400" height="300"></canvas>
</div>